@import "tailwindcss";
@theme {
  --background: #ffffff;
  --text-opacity: 1;
  --text-gray: rgb(209 213 219 / var(--text-opacity, 1));
  --text-secondary: rgb(46 139 87 / var(--tw-text-opacity, 1));
  --color-secondary: rgb(46, 139, 87);
}
@layer utilities {
}
